<!-- pages/templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<h1>About page</h1>

<div>
<p>I have always wanted to go to college but life, marriages and 5 children, happened without doing so until now.</p>
<p>In the '70s if you were not planning on going to college to be a school teacher, there was no need for a girl to attend college. I was the oldest girl in a family of 9 so my option was to go to vocational-technical school in the clerical field.</p>
<p>After working 41 years for the State of Louisiana, I am finally getting a LSU degree!  The last 13 years with the state I was a Project Manager in the Project Management Office and Management Information Services.  It is very interesting to learn the development side of projects!</p>
</div>

{% endblock content %}
